.item img {
  margin: 0;
  width: 100%;
  /*clip: rect(400px, 290px, 190px, 100px);*/
  overflow: hidden;
  /*display: block;*/
  /*position: absolute;*/
}

.main-image {
  height: 600px;
}

.carousel-inner {
  /*height: 600px;*/
  /*overflow: hidden;*/
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
}

.navbar-inner {
  border: none;
}

section {
  padding-bottom: 50px;
}

footer {
  
}